try_train/llama-rec-checkpoints/
try_train/llama-rec_pantry-checkpoints/
try_train/llama-rec_SPIAO-checkpoints/
try_train/llama-rec_KuaiRand-27K-100krows-checkpoints/
try_train/llama-rec_KuaiRand-27K-checkpoints/
saves/
outputs/
data/amazon_pantry_from_qspan/
data/amazon_SPIAO_from_qspan/
data/KuaiRand-27K/
DataGen_from_mjyin/
.vscode/
cache/
tokenizer_try（弃用）/
configurations（弃用）/
try_train/sft_config（给llamafactory设计的，已弃用）
**/__pycache__/
LLaMA-Factory（弃用）/
data/amazon_SPIAO_from_qspan/
data/amazon_pantry_from_qspan/
tmp/
try_train/verl_rl_sh/checkpoints
data/KuaiRand-27K-no-feature/*.csv
data/KuaiRand-27K-no-feature/6_parquet_for_verl/*.parquet
data/KuaiRand-27K-no-feature/*.npy
data/KuaiRand-27K-no-feature/*.json
data/KuaiRand-27K-no-feature/34_from_data_to_rq_code/3_data_to_embedding/SASRec.pytorch/KuaiRand_27K_default/
data/KuaiRand-27K-no-feature/
*.out
try_train/llama-rec_KuaiRand-27K-no-feature-checkpoints