try_train/llama-rec-checkpoints/
try_train/llama-rec_pantry-checkpoints/
try_train/llama-rec_SPIAO-checkpoints/
try_train/llama-rec_KuaiRand-27K-100krows-checkpoints/
saves/
outputs/
data/
DataGen_from_mjyin/
.vscode/
cache/
tokenizer_try（弃用）/
configurations（弃用）/