tqdm
matplotlib
ipykernel
transformers
polars
pandas
numpy
datasets
wandb
hyperopt
scikit_learn
pyyaml
colorlog
colorama
tensorboard
thop
ray
tabulate
texttable
psutil
packaging
ninja
torchmetrics
accelerate
gpustat